# 참고

In [74]:
a = [1, 'a', [3,[4,'bc', 7]], '4']
print(a[2][-1][-2][-2]) #변수명하나에 인덱싱 연달아 하면 그 안의 안의..

b

In [75]:
words = ['bit', 'hit', 'kit', 'lit', 'pit', 'sit', 'wit']
n = 0
for word in words:
    for c in word:
        n += 1
print(n)

21

In [76]:
words = ['bit', 'hit', 'kit', 'lit', 'pit', 'sit', 'wit']
list = [c for word in words for c in word]
print(len(list))

21

In [77]:
t = 0
lists = [[0], [1, 1], [2, 3, 5], [8, 11, 19, 30]]
for list in lists:
    t += 1
    for n in list:
        t += 1
print(t) #첫번째 for 원소 네 개 나오므로 값 4 그 안의 for 각각원소 개수 합 10개 4+10

14

In [78]:
s = 0
lists = [[0], [1, 1], [2, 3, 5], [8, 11, 19, 30]]
for m in range(len(lists)):
    for n in range(len(lists[m])-1):
        s += lists[m][n]
    print(s)

0
1
6
44

In [79]:
S = 'abcdefghijklmnopqrstuvwxyz'
L = S.split('e')
K = 'k'.join(L)
print(K.find('k'))

4

# Variables

In [80]:
a = 1; print(type(a))

<class 'int'>

In [81]:
type(a)

int

In [82]:
a = 1; a = float(a); print(type(a)); a

<class 'float'>

1.0

In [83]:
a = 1.2; a = int(a); print(type(a)); a

<class 'int'>

1

In [84]:
a = '123'; print(type(a)); print(a[0], a[1], a[2])

<class 'str'>
1 2 3

In [1]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [2]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [3]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [12]:
dict(one = 1, two = 2)

{'one': 1, 'two': 2}

In [17]:
d = {} #dict의 키는 변경불가능한 자료형이어야 함 -> 문자열과 숫자, 튜플은 키가 될 수 있지만 리스트와 사전은 키 될 수 없음

In [19]:
d[(1, 2, 3)] = 10; d

{(1, 2, 3): 10}

In [20]:
d[[1, 2, 3]] = 10; d

TypeError: unhashable type: 'list'

In [21]:
d[{1:2, 3:4}] = 10; d

TypeError: unhashable type: 'dict'

In [29]:
d = {} #dict의 값으로 사용될 수 있는 자료는 리스트, 튜플 사용할 수 없는 자료는 dict

In [30]:
d[10] = (1,2,3); d

{10: (1, 2, 3)}

In [31]:
d[10] = [1, 2, 3]; d

{10: [1, 2, 3]}

In [32]:
d[10] = {1:2. 3:4}

SyntaxError: invalid syntax (<ipython-input-32-5206678651c7>, line 1)

In [34]:
member = {'basketball': 5, 'soccer': 12, 'baseball': 9}
member['volleyball'] = 7 #키가 사전에 등록되어 있지 않으면 새로운 항목이 만들어짐
member ['soccer'] = 11 #키가 이미 사전에 등록되어 있으면 이 키에 해당하는 값이 변경됨
member

{'basketball': 5, 'soccer': 11, 'baseball': 9, 'volleyball': 7}

In [7]:
a =	{"a": "apple", "b": "orange", "c": 2014} 
print(type(a)) #사전 리스트 내장고 유사한 방식 but 중괄호{}사용, 키:값 형식
print(a["a"])

<class 'dict'>
apple

In [7]:
a = {w:1 for w in 'abc'} #키:값 = w:1
print(type(a))
a

<class 'dict'>

{'a': 1, 'b': 1, 'c': 1}

In [8]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]

# string

In [9]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:]) #이하 아니고 직전까지! 미만!

a f f a
bc bcdef abc abcdef

In [10]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:]) #리스트의 범위 인덱스 값은 리스트

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [11]:
len(s)

6

In [12]:
s[1]+s[3]+s[4:]*10 #그루핑 안하면 바로 앞에 있는 것만 반복됨

'bdefefefefefefefefefef'

In [13]:
(s[1]+s[3]+s[4:])*10

'bdefbdefbdefbdefbdefbdefbdefbdefbdefbdef'

In [14]:
s.upper()

'ABCDEF'

In [17]:
s = ' this is a house built this year.\n'
print(s)
s

 this is a house built this year.

' this is a house built this year.\n'

In [19]:
result = s.find('house') 
result # index of first instance of string t inside s (-1 if not found

11

In [21]:
result = s.find('this')
result

1

In [22]:
result = s.rindex('this')
result

23

In [23]:
s = s.strip()  # a copy of s without leading or trailing whitespace
s              # 앞 뒤에 있는 화이트 스페이스 문자 지움

'this is a house built this year.'

In [24]:
tokens = s.split(' ')
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [26]:
s = ' '.join(tokens)
s

'this is a house built this year.'

In [27]:
s = s.replace('this', 'that')
s

'that is a house built that year.'

# syntax

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [2]:
a = [1, 2, 3, 4]
for i in range(len(a)): #range 원소 하나만 있으면 0부터 그것 직전까지
    print(a[i])

1
2
3
4

In [3]:
a = ['red', 'green', 'blue', 'purple']
for i in a:  #for루프 읽을 때 in다음을 먼저 보기, a 속에 있는 것을 처음부터 하나하나씩 해서 i에 넣고 이 값을 출력, a의 마지막 원소까지
    print(i)

red
green
blue
purple

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(i)

0
1
2
3

In [4]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [10]:
a = ["red", "green", "blue", "purple"] #zip 함수 -> a와 b는 반드시 원소 개수 같은 리스트여야 함
b = [0.2, 0.3, 0.1, 0.4]
for i, s in zip(a, b):
    print('{}: {}%'.format(i, s*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [14]:
keys = ['one', 'two', 'three']
values = (1, 2, 3)
for a, b in zip(keys, values):
    print('{} : {}'.format(a, b))

one : 1
two : 2
three : 3

In [36]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a in enumerate(a):
    print(i, a) #enumerate함수는 시퀀스형 데이터를 (위치,요솟값)튜플로 넘겨줌

0 red
1 green
2 blue
3 purple

In [37]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a in enumerate(a):
    print('{}: {}%'.format(a, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [47]:
a = ['one', 'two', 'three', 'four']
b = [1,2,3,4]
c = {}
for i in range(4):
    c[a[i]] = b[i]
print(c)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [51]:
a, b = 2, 1
if a == 0 and b != 0: #같지 않다 !=
    print(a)
else:
    print(a+1)

3

In [52]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [53]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [54]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [55]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [70]:
a = ['cat', 'tiger', 'elephant']
b = [i for i in a if len(i) > 3]
b

['tiger', 'elephant']

In [71]:
a = [1, 'love', [1, 'bye']]; type(a)

list

In [72]:
a = (1, 'love', [1, 'bye']); type(a)

tuple

In [73]:
a=[(1,2,3), (3,8,0)]
print(type(a)); print(a[0]); type(a[0])

<class 'list'>
(1, 2, 3)

tuple